.main-container {
    width: 100%;
    text-align: center;
}

body {
    width: auto;
    overflow: scroll;
}

.container {
    overflow: scroll;
    margin-top: 25px;
    width: auto;
    height: auto;
    /* border: 2px solid red; */
    /* position: absolute; */
    cursor: pointer;
    font-size: 25px;
}

.row {
    width: 100%;
    height: auto;
    margin-bottom: 4px;
    float: left;
}

.cell {
    margin-right: 4px;
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
    float: left;
    text-align: center;
    font-size: 25px;
    padding-top: 5px
}

.cell.closed {
    color: transparent;
    background: rgb(205, 205, 205);
    box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255,255,255,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
}

.cell.open {
    color: black;
    box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255,255,255,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
}

.cell.bomp-guess {
    padding-top: 10px 0 0 0;
    color: green;
    font-size: 1.5rem;
}

.cell.bomp-guess > i {
    margin-top: 4px;
}

input {
    width: 50px;
}